## Get Data From The Federal Reserve (FRED)

### Links
- [St. Louis FRED](https://fred.stlouisfed.org/)

## Install FRED API

In [ ]:
!pip install fredapi

## Import Packages & Modules

In [4]:
import fredapi as fa
import pandas as pd
from local_settings import fred as settings

In [6]:
fred = fa.Fred(settings['api_key'])

In [11]:
gdp = fred.get_series('GDP')
gdp.name = 'gdp'
gdp.tail()

2020-07-01    21138.574
2020-10-01    21477.597
2021-01-01    22038.226
2021-04-01    22740.959
2021-07-01    23173.496
Name: gdp, dtype: float64

In [12]:
wcurcir = fred.get_series('WCURCIR')
wcurcir.name = 'wcurcir'

In [13]:
df = pd.merge(gdp, wcurcir, left_index=True, right_index=True)
df

                  gdp   wcurcir
1986-01-01   4507.894   197.252
1986-10-01   4657.627   200.310
1987-04-01   4806.160   207.376
1987-07-01   4884.555   214.574
1992-01-01   6363.102   307.620
1992-04-01   6470.763   302.935
1992-07-01   6566.641   310.268
1997-01-01   8362.655   449.867
1997-10-01   8765.907   457.144
1998-04-01   8969.699   473.740
1998-07-01   9121.097   482.139
2003-01-01  11174.129   686.685
2003-10-01  11772.234   696.782
2008-10-01  14608.208   836.296
2009-04-01  14381.236   902.604
2009-07-01  14448.882   907.936
2014-01-01  17144.281  1240.461
2014-10-01  17852.540  1289.118
2015-04-01  18193.707  1357.822
2015-07-01  18306.960  1366.614
2020-01-01  21481.367  1805.880
2020-04-01  19477.444  1876.839
2020-07-01  21138.574  1967.076